sudo: false
language: rust
rust:
 - stable
 - beta
 - nightly
matrix:
  allow_failures:
   - rust: nightly
cache: cargo
addons:
  apt:
    packages:
     - libcurl4-openssl-dev
     - libelf-dev
     - libdw-dev
     - binutils-dev
     - unixodbc
     - unixodbc-dev
     - odbc-postgresql
     - libsqliteodbc
     - cmake
    sources:
     - kalakris-cmake
services:
 - postgresql
before_script:
 - psql -c 'create database travis_ci_test;' -U postgres
 - export ODBCINI=${PWD}/travis/odbc.ini
 - cargo coveralls --version || cargo install cargo-travis
 - export PATH=$HOME/.cargo/bin:$HOME/.local/bin:$PATH
script:
 - cargo test --verbose --features travis
after_success:
 - cargo coveralls
env:
 global:
   - RUST_BACKTRACE=1
   - RUST_TEST_THREADS=1
